#Use this file as to create your .env file, all of these variable are necessary to the app

#EXPO_PUBLIC_USER =admin
#EXPO_PUBLIC_PASSWORD=Admin123
#EXPO_PUBLIC_BASE_URL=
#EXPO_PUBLIC_BASE_ENDPOINT=
#EXPO_PUBLIC_ENV=DEV